/* 
====================================================================
      Fonts
==================================================================== 
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans&family=Work+Sans:wght@700&display=swap');

 /*** 

====================================================================
  Css Variables
====================================================================

***/
:root {
    /* font-color */
    --dark-black:#131313;
    --gray: #424242;
    --light-gray:#727272;
    --white: #FFFFFF;
    --orange: #FF900E;

    /* background color */
    --header-bg:rgba(255, 144, 14, 0.1);
    --bg-orange: #FF900E;

}


 /*** 

====================================================================
  Common Part
====================================================================

***/
*{
    margin: 0;
    padding:0;
    font-family: 'Work Sans', sans-serif;
    /* border: 1px solid; */
}
.container{
    width: 85%;
    margin: 0 auto;
}
.btn-primary{
    color: var(--white);
    background-color: var(--bg-orange);
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    width: 180px;
}
 /*** 

/*
====================================================================
  4. Header Style
==================================================================== 
*/
.header{
width:100%;
height:1346px;
padding-top: 24px;
background-color: var(--header-bg);
}
.header-container{
    display: flex;
    justify-content: space-around;
}
.header-title{
    color: var(--dark-black);
    font-weight: 700;
    font-size: 45px;
    padding-top: 8px;
}
.navbar{

}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style-type: none;
    padding: 20px;
}
.navbar ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: var(--light-gray);
}
.navbar ul li a:hover{
    color: var(--dark-black);
}
.header-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 116px;
    text-align: center;
}
.header-info-title{
    font-weight: 700;
    font-size: 64px;
    color: var(--dark-black);

}
.header-info-description{
    font-weight: 400;
    font-size: 16px;
    color: var(--light-gray);
    margin: 32px 0;
}
.header-banner {
    margin: 50px 0;
    width: 85%;
    height: 700px;
}
.header-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Feature Section Style */
.feature-top{
    display: flex;
    gap: 20px;
}
.feature-photo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    width: 100%;
}
.feature-photo img{
    width: 343px;
    height: 342px;
    border-radius: 10px;
    
}
.feature-top-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   
}
.feature-top-heading h3{
    font-weight: 500;
    font-size: 45px;
    width: 100%;
    height:106px;
}
.feature-top-heading .light-gray{
    color: var(--light-gray);
}
.feature-top-heading .dark-black{
    color: var(--dark-black);
}
.feature-top-heading .dark-orange{
    color: var(--orange);
}
.feature-top-heading p{
    font-weight: 400;
    font-size: 16px;
    color: var(--light-gray);
    width: 100%;
    height:78px;
    margin: 30px 0;
}

/* Feature details section */
.feature-details-container{
    margin-top: 100px;
}
.feature-details{
display: flex;
gap: 54px;
}
.feature-article{
    width:50%;
    margin-top: 50px;
}
.feature-article .title{
    font-weight: 700;
    font-size: 45px; 
    color: var(--dark-black);
}
.feature-article .description{
    font-weight: 400;
    font-size: 16px;
    color: var(--light-gray);
    width: 100%;
    margin: 30px 0;
}
.feature-details-photo{
    width: 50%;
    height: 1059;
    position: relative;
}
.btn-big{
    color: var(--white);
    background-color: var(--bg-orange);
    padding: 42px 45px;
    font-weight: 700;
    font-size: 65px;
    border-radius: 10px;
    border: none;
    position: relative;
    top: -10%;
    left: -10%;
}
.small-font-experience{
    font-size: 25px;
}
.card-container{
   width:100%;
    
}
.card{
    width:80%;
    height: 115px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    padding: 30px;
    margin-top: 20px;
}
.card .card-title{
    font-weight: 600;
    font-size: 20px;
    color: var(--dark-black);
}
.card .card-description{
    font-weight: 400;
    font-size: 16px;
    color: var(--light-gray);
    margin-top: 10px;
}
